@import 'styles/theme';

h1{
   color: $primary;
   padding-top: 2em;
   padding-left: 7em;
}

.buttons{
    width: 30%;
    position: relative;
    margin-top: 30%;
    margin-left: 60%;
}

.button2{
    margin-top: 5%;
}