@import 'styles/theme';

.exhibition {
    &.image-container{
        margin: 0;
        padding: 2.5em;
        position: absolute;
        display: flex;
        flex-direction: row;
        flex-wrap: 1;
        width: 60vw;
        top: 3vw;
        left: 21.25vw;
        gap: 1.75vw;
        @include lobbyLandscape {
            width: 106.67vh;
            top: 5.33vh;
            left: 37.78vh;
            gap: 3.11vh;
        }
        @include phone {
            top: -2.75%;
            left: 2.5%;
            width: 100%;
            & > * {
                flex-grow: 1;
            }
        }
    }
    
    &.image-component {
        width: fit-content;
        height: fit-content;
        & img {
            position: relative;
            width: 15.5vw;
            height: 15.5vw;
            object-fit: cover;
            object-position: top;
            box-shadow: $dropShadow;
            z-index: -1;
            @include lobbyLandscape {
                width: 27.56vh;
                height: 27.56vh;
            }
            @include phone {
                width: 35vw;
                height: 35vw;
            }
        }
    }

    &.button-container {
        position: absolute;
        bottom: 5%;
        right: 2.5%;
        display: flex;
        flex-direction: column;
        flex-wrap: 1;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 12.5em;
        background-color: rgba($primary, 0.45);
        border-radius: 1em;
        @include phone {
            width: 75%;
            bottom: 7.5%;
            right: 12.5%;
        }
    }
}

.E {
    margin: 0.5em;
    width: 60%;
    @include phone {
        width: 75%;
    }
}

h3{
    margin: 0.75em;
    color: white;
 }