@import 'styles/theme';

.game {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: mix($primary, white, 30);
    &.image {
        width: 60vw;
        height: 100vh;
        object-fit: cover;
        object-position: top center;
    }
    &.input {
        margin-top: 2.5vw;
        margin-left: 2.5vw;
        flex-direction: column;
        width: 25vw;
    }
    &.input-style {
        font-size: 1.5rem;
        font-weight: bold;
        font-style: italic;
        color: white;
        text-align: center;
        justify-content: center;
        margin-top: 2em;
        margin-bottom: 5em;
        padding: 0.75em;
        background-color: mix($primary, white, 85);
        border-radius: 1em;
    }
    &.input-label {
        font-weight: bold;
        color: mix($primary, white, 85);
    }
    &.input-field {
        height: 30vh;
        border: none;
        border-radius: $borderRadius;
        box-shadow: $innerShadow;
        padding: 0.5em;
        background: white;
    }
    &.timer {
        font-size: 3rem;
        font-weight: bold;
        color: $secondary;
    }
}

.G {
    margin-top: 1em;
    margin-left: 70%;
    width: 30%;
} 