@import 'styles/theme';

.game {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    align-content: stretch;
    background-color: mix($primary, white, 30);
    &.image {
        height: 100vh;
        object-fit: contain;
        flex-grow: 1;
    }
    &.input {
        margin-top: 2.5vw;
        flex-direction: column;
        flex-grow: 1;
    }
    &.input-style {
        font-size: 1.5rem;
        font-weight: bold;
        font-style: italic;
        color: white;
        text-align: center;
        justify-content: center;
        margin-top: 2em;
        margin-bottom: 8em;
        padding: 0.75em;
        background-color: mix($primary, white, 85);
        border-radius: 1em;
    }
    &.input-label {
        font-weight: bold;
        color: mix($primary, white, 85);
    }
    &.input-field {
        height: 30vh;
        border: none;
        border-radius: $borderRadius;
        box-shadow: $innerShadow;
        padding: 0.5em;
        background: white;
        width: 80%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    &.timer {
        font-size: 3rem;
        font-weight: bold;
        color: $secondary;
    }
}

.G {
    margin-top: 1em;
    margin-right: 10%;
    width: 30%;
    align-self: flex-end;
} 