@import 'styles/theme';

.game {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: mix($primary, white, 30);
    @include phone {
        font-size: 0.75rem;
        flex-direction: column;
        height: min-content;
    }
    &.image {
        width: 70vw;
        height: 100vh;
        object-fit: cover;
        object-position: top center;
        @include phone {
            aspect-ratio: 5/4;
            width: 100%;
            height: auto;
        }
    }
    &.input {
        margin-top: 2.5vw;
        margin-left: 2.5vw;
        flex-direction: column;
        width: 25vw;
        @include phone {
            width: 90%;
            height: calc(100vh - 80vw);
            margin-left: 5%;
        }
    }
    &.input-style {
        font-size: 1.5rem;
        font-weight: bold;
        font-style: italic;
        color: white;
        text-align: center;
        justify-content: center;
        margin-top: 2em;
        margin-bottom: 5em;
        padding: 0.75em;
        background-color: mix($primary, white, 85);
        border-radius: 1em;
        @include phone {
            font-size: 1rem;
            margin-top: 0.75em;
            margin-bottom: 20%;
            padding: 0.5em;
        }
    }
    &.input-label {
        font-weight: bold;
        color: mix($primary, white, 85);
    }
    &.input-field {
        height: 30vh;
        border: none;
        border-radius: $borderRadius;
        box-shadow: $innerShadow;
        padding: 0.5em;
        background: white;
        @include phone {
            height: 40%
        }
    }
    &.timer {
        font-size: 3rem;
        font-weight: bold;
        color: $secondary;
        @include phone {
            font-size: 1.75rem;
        }
    }
}

.G {
    margin-top: 1em;
    margin-left: 70%;
    width: 30%;
} 