@import 'styles/theme';

.login {
  &.container {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    width: 40%;
    min-height: 500px;
    margin-top: 5.5rem;
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    background-color: rgba(255, 255, 255, 0.15);
    // border: 10px solid;
    // border: linear-gradient(135deg, $primary 100%, $secondary 50%);
    // border-radius: 2.5rem;
    box-shadow: $dropShadow;
    z-index: 1;
  }
  &.manifesto {
    margin-top: 50px;
    @include md {font-size: 22px; font-weight: 900; margin-top: 66px; padding-right: 22px;}
    @include lg {font-size: 30px; font-weight: 700; margin-top: 90px; padding-right: 30px;}
    color: white;
    z-index: 1;
    text-align: right;
    }
  &.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    font-size: 16px;
    font-weight: 300;
    border-radius: 0.75em;
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  &.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
  }
  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &.input {
    height: 30px;
    border: none;
    border-radius: $borderRadius;
    background: transparentize(black, 0.85);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: $innerSHadow;
  }
  &.label {
    color: white;
    text-transform: lowercase;
    font-weight: 300;
  }
}