@import 'styles/theme';

.primary-button {
  &:hover {
    background-color: mix($primary, white, 90);
  }
  &:active{
    transform: translateY(2px);
  }
  &:disabled {
    cursor: pointer;
    opacity: 0.4;
    &:hover {
      transform: none;
    }
  }
  
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  height: 30px;
  width: 110%;
  border: none;
  border-radius: $borderRadius;
  opacity: 1;
  color: white;
  background-color: $primary;
  transition: all 0.3s ease;
  box-shadow: $dropShadow;
  cursor: pointer;

}