@import 'styles/theme';

.lobby-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-image: url(../../img/lobbyLg.png);
  background-position: top left;
  background-size: cover;
  @include phone {
    background-image: url(../../img/lobbySm.png);
    background-position: bottom left;
  }
}