@import 'styles/theme';

.slider {
    aspect-ratio: 100/128;
    position: absolute;
    left: 19.05vw;
    margin-top: 3.925vw;
    width: 29.85vw;
    font-size: 0.75rem;
    font-weight: bold;
    text-align: right;
    color: $secondary;
    @include landscape {
        left: 28.5vh;
        bottom: 15.5vh;
        width: 44.75vh;
        font-size: 1.875vh;
    }
    &.inner {
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.75;
    }
    &.label {
        font-style: oblique;
        height: 4em;
        padding: 1em;
        margin-top: 3.887vw;
        background-color: $primary;
        z-index: 1;
        opacity: 0.75;
        @include landscape {
            bottom: 15.35vh;
        }
    }
    &.left-arrow{
        font-size: 3.75vw;
        text-align:left;
        padding-top: 15vw;
        &:hover {color: mix($primary, white, 90);}
        &:active {transform: translateY(2px);}
        color: $primary;
        z-index: 1;
        cursor: pointer;
        @include landscape {
            font-size: 5.625vh;
            padding-top: 22.5vh;
        }
    }
    &.right-arrow{
        font-size: 3.75vw;
        padding-top: 15vw;
        &:hover {color: mix($primary, white, 90);}
        &:active {transform: translateY(2px);}
        color: $primary;
        z-index: 1;
        cursor: pointer;
        @include landscape {
            font-size: 5.625vh;
            padding-top: 22.5vh;
        }
    }
  }
