@import 'styles/theme';

.slider {
    aspect-ratio: 100/128;
    position: absolute;
    margin: 0;
    left: 19.05vw;
    top: 3.925vw;
    width: 29.9vw;
    font-size: 1vw;
    font-weight: bold;
    text-align: left;
    color: white;
    @include landingLandscape {
        left: 28.5vh;
        top: 5.874vh;
        width: 44.75vh;
        font-size: 1.495vh;
    }
    @include phone {
        visibility: hidden;
    }
    &.inner {
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.75;
    }
    &.label-before{
        font-size: 1.25rem;
        font-style: oblique;
        padding: 0.75em;
        top: 36.7vw;
        height: 5.5vw;
        background-color: $primary;
        opacity: 0.75;
        @include landingLandscape {
            top: 54.9vh;
            height: 8.228vh;
        }
    }
    &.label-after{
        font-size: 0.65rem;
        font-style: oblique;
        padding: 0.5em;
        top: 36.7vw;
        height: 5.5vw;
        background-color: $primary;
        opacity: 0.75;
        @include landingLandscape {
            top: 54.9vh;
            height: 8.228vh;
        }
    }
    &.left-arrow{
        width: fit-content;
        font-size: 3.75vw;
        text-align:left;
        top: 17.5vw;
        &:hover {color: mix($primary, white, 90);}
        &:active {transform: translateY(2px);}
        color: $primary;
        cursor: pointer;
        @include landingLandscape {
            font-size: 5.625vh;
            top: 26.18vh;
        }
    }
    &.right-arrow {
        width: fit-content;
        font-size: 3.75vw;
        text-align: left;
        top: 17.5vw;
        left: 47vw;
        &:hover {color: mix($primary, white, 90);}
        &:active {transform: translateY(2px);}
        color: $primary;
        cursor: pointer;
        @include landingLandscape {
            font-size: 5.625vh;
            top: 26.18vh;
            left: 70.312vh;
        }
    }
    &.tutorial {
        background-image: url(../../img/game_page.png);
        background-size: contain;
        aspect-ratio: 1920/1080;
        border-radius: 2em;
        width: 125%;
        top: 25vw;
        left: 35vw;
        @include landingLandscape {
            top: 37.4vh;
            left: 52.36vh;
        }
    }
    &.switch {
        color: $secondary;
        width: fit-content;
        cursor: pointer;
        top: 36.8vw;
        left: 47.25vw;
        @include landingLandscape {
            top: 55.05vh;
            left: 70.686vh;
        }
    }
  }
