@import 'styles/theme';

.slider {
    width: 429px;
    height: 552px;
    @include md {
        position: absolute;
        margin-top: 55px;
        margin-left: 151px;
        }

    @include lg {
        position: absolute;
        margin-top: 56px;
        margin-left: 274px;
    }
    
    &.inner {
        position: absolute;
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.8;
        // box-shadow: $dropShadow;
    }
    &.label {
        position: absolute;
        width: 100%;
        height: 10%;
        top: 80%;
        padding: 10px;
        font-size: 18px;
        font-style: italic;
        text-align: right;
        color: white;
        background-color: $primary;
        z-index: 1;
        opacity: 0.8;
        // box-shadow: $innerSHadow;
    }
    &.left-arrow{
        &:hover {color: mix($primary, white, 90);}
        &:active {transform: translateY(2px);}
        position: absolute;
        top: 45%;
        left: 5%;
        font-size: 45px;
        color: $primary;
        z-index: 1;
        cursor: pointer;
    }
    &.right-arrow{
        &:hover {color: mix($primary, white, 90);}
        &:active {transform: translateY(2px);}
        position: absolute;
        top: 45%;
        left: 90%;
        transform: translateY(-2px);
        font-size: 45px;
        color: $primary;
        z-index: 1;
        cursor: pointer;
    }
  }
