/*
  This file contains the most basic variables that control how your application will look.
*/

// theme colors
$primary: #430D5C;
$secondary: #5CFFF5;

@for $i from 1 through 4 {
  .text-grey-#{$i * 25} {
      color: mix(black, white, $i * 25)
  }
}

// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// borders
$base-border-thickness: 1px;
$base-border-radius: 5px;

// decoration
$dropShadow: -0.5em 0.5em 0.25em rgba(0, 0, 0, 0.25);
$innerSHadow: inset -.25em .25em 0.25em rgba(0, 0, 0, 0.25);
$borderRadius: 1em;


/* mixins
  these allow you to create small snippets that you can insert with a one-liner in other stylesheets
  for an example, see styles/views/Login.scss
*/
@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// view port control
$breakpoints: (
  "xs": 1,
  "sm": 481px,
  "md": 961px,
  "lg": 1441px,
  "xl": 1921px,
);

@mixin sm {
  @media (min-width: map-get($breakpoints, "xs")) {
    @content;
  }
}
@mixin md {
  @media (min-width: map-get($breakpoints, "sm")) {
    @content;
  }
}
@mixin lg {
  @media (min-width: map-get($breakpoints, "md")) {
    @content;
  }
}
@mixin xl {
  @media (min-width: map-get($breakpoints, "lg")) {
    @content;
  }
}
