/*
  This file contains the most basic variables that control how your application will look.
*/

// theme colors
$primary: #430D5C;
$secondary: #5CFFF5;

@for $i from 1 through 4 {
  .color-grey-#{$i * 25} {
      color: mix(black, white, $i * 25)
  }
}
@for $i from 1 through 20 {
  .color-purple-#{$i * 5} {
      color: mix($primary, white, $i * 5)
  }
}

// spacing
$base-padding: 0.75em;
$base-margin: 0.75em;

// decoration
$dropShadow: -0.5em 0.5em 0.25em rgba(0, 0, 0, 0.25);
$innerShadow: inset -.25em .25em 0.25em rgba(0, 0, 0, 0.25);
$borderRadius: 1em;

// view port control
$breakpoints: (
  "sm": 480px,
  "md": 1280px,
  "lg": 1440px,
);

@mixin phone {
  @media (max-width: 480px) {
    @content;
  }
}
@mixin landingLandscape {
  @media (max-aspect-ratio: 1920/1283) {
    @content;
  }
}
@mixin lobbyLandscape {
  @media (max-aspect-ratio: 1920/1080) {
    @content;
  }
}